html,body{
    height:100%;
    
}
body{
   margin:0;
    background-color: #202124;
    display: flex;
    flex-direction: column;
    }
header{
    color:#fff;
    text-align: right;
    padding:15px;
}
header >*{
    margin-left:15px;
}
main{
   flex:1;
   display:flex;
   flex-direction:column;
    justify-content:center;
    align-items:center;
}
input{
    width:561px;
    height:42px;
    border:1px solid #5f6368;
    border-radius:24px;
    background-color:#202124;
}

footer{
    background-color:#171717;
    color:#9aa8a6;
   
   
}
.country{
    border-bottom:1px solid #3c4043;
}
.about{
    display:flex;
    justify-content:space-between;
}
.signin{
    background:#8ab4f8;
    padding: 9px 23px;
    border-radius: 4px;
    border:1px solid transparent;
}
footer > div{
    padding:15px 30px;
}
.search{
    position:absolute;
    top:15px;
    left:15px;
    
}
.wrapper{
    position:relative;
}
.mic{
    position:absolute;
    top:12px;
    right:15px;
}
.search-bottom{
    background-color:#303134;
    border:1px solid #303134;
    color:#eBeaed;
    padding: 0 16px;
    height:36px;
    border-radius:4px;
    margin:10px;

}
.search-wrapper{
    display:flex;
    justify-content:center; 
}
.main-wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.offered{
    color:#bdc1c6;
}
.language{
    color:#8ab4f8;
}
.p-20{
    padding:20px;
}
footer span{
   padding:15px;
}